<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
          <div class="navbar-header ">
            <br>
            <a [routerLink]="['/']"> <strong  style="color:white" > <h3>Recuiter System</h3></strong></a>
           </div>
 
           <div id="navbar" class="collapse navbar-collapse">
                  <ul class="nav ml-auto">

                     <li *ngIf="authservice.loggedIn()"><a style="color: white" [routerLink]="['/dashbord']"> Dashbord &nbsp;</a> </li>
                
                     <li *ngIf="authservice.loggedIn()"><a style="color: white" [routerLink]="['/profile']"> Profile &nbsp; </a> </li>
                    
                     <li *ngIf="!authservice.loggedIn()"><a style="color: white" [routerLink]="['/login']"> Login &nbsp; </a> </li>
                     
                     
                     <li *ngIf="!authservice.loggedIn()"><a  style="color: white" [routerLink]="['/register']"> Rgister &nbsp; </a> </li>
  
                
                     <li *ngIf="authservice.loggedIn()"><a style="color: white" (click)="onLogoutClick()" href='#'> Logout &nbsp; </a> </li>
                     </ul>
                  
    
           </div> 
     </div>
</nav>