<html>
<body>
<header class="masthead">
    <div class="container">
      <div class="intro-text">
         
       <h1> Recuiter System </h1>
      <p class="lead"> HR System to make interview instead of human and The gap between the study and the market for interviewee . </p>
      <div>
      <a class="btn btn-primary" [routerLink]="['/register']"> Register </a> <a class="btn btn-primary" [routerLink]="['/login']"> Login </a>
      </div> 
             
    </div>
    </div>
  </header>
   
  <br><br>

  <div class ="row  text-center">
    <div class="col-md-4">
     <h3>Describtioin </h3>
     <br>
     <p>
        HR System to make interview instead of human, and is divided into two mean sections:</p><br>
       <p> 1- CV  Evaluation<p><br>
       <p>2-Interview Appointment</p><br>
        <p>Our system covers all processes done in the interview from a to z</p>
    </div> 
    <div class="col-md-4">
        <h3> Problem Defination  </h3> 
        <br>
       <p> There is a lot of problems that may exclude you of the interview :</p><br>
       <p>1-  CV may written in a wronge style that may lead exclude you from the interview. </p> 
       <p>2- CVs filtering take a lot of time from HR. </p>
       <p>3- The gap between the study and the market for interviewee. </p>
       <p>4- Some companies hire HRs from another companies to make interview for person applied to its job This means that there is many companies that don’t have HR.</p>
       <p>5- Interviewee doesn’t know why he is excluded. </p>
           
    </div>
    <div class="col-md-4">
        <h3> Objectives </h3>
        <br>
       <p>1- giving a percent for CV evaluation, that leads interviewee to know his/her CV is good or not.</p>
       <p>2- filtering CV automatically and arranging them from the best to the worst.</p>
       <P>3- making a lot of interviews which remove the this gab.</P>
       <p>4- making this system part of the company instead of hiring HR person which save money and time.</p>
       <p>5- prizing a video that shows his/her faults ( bodylanguage – answers - .. ) during the interview.</p>    
        
  </div>
  </div>
  
  
  <br><br>
 
 
  
  <h2 style=" text-align: center"> Supervisor </h2>
  <br> 
  <div class ="row  text-center">
        <div class="col-md-12">
              <div class="container" align="center">
          <a href="https://twitter.com/oakFaium" target="_blank"> <div class="img-circular" id="DrHussien"></div> </a>   
          <div class="middle">
                  <div class="text">Dr/Hussien</div>
                </div>
        </div> 
        </div>
  </div> 
      


  <div class="jumbotron text-center">  <h2 > Team Members </h2>  </div>

<div class ="row  text-center">
  <div class="col-md-4">
        <div class="container">
    <a href="https://www.linkedin.com/in/mostafa-hassan-1aaa34108/" target="_blank"> <div class="img-circular" id="mostafa"></div> </a>   
    <div class="middle">
            <div class="text">Mostafa Hassan</div>
          </div>
  </div> 
  </div>
  <div class="col-md-4">
        <div class="container">
         <a href="https://www.linkedin.com/in/galal-shaban/" target="_blank"> <div class="img-circular" id="galal"></div> </a> 
         <div class="middle">
                <div class="text">Galal Shaban</div>
              </div>
  </div>
  </div>
  <div class="col-md-4">
        <div class="container">
    <a href="https://www.linkedin.com/in/khaled-esmail-998423116/"target="_blank"> <div class="img-circular" id="khaled" alt="Avatar"></div> </a> 
    <div class="middle">
            <div class="text">Khaled Esmail</div>
          </div>
  </div>
</div>
</div>


<br><br>



<div class ="row  text-center">
    <div class="col-md-4">
            <div class="container">
      <a href="https://www.linkedin.com/in/mohamed-tantawy-639304102/" target="_blank"> <div class="img-circular" id="tantawy"></div> </a>   
      <div class="middle">
            <div class="text">Mohamed Tantawy</div>
          </div>
            </div>
    </div> 
    <div class="col-md-4">
            <div class="container">
           <a href="https://www.linkedin.com/in/mohamed-fathy-952662b8/" target="_blank"> <div class="img-circular" id="fathy2"></div> </a> 
           <div class="middle">
                <div class="text">Mohamed Fathy</div>
              </div>
            </div>
    </div>
    <div class="col-md-4">
            <div class="container">
      <a href="https://www.facebook.com/hawas.adel"target="_blank"> <div class="img-circular" id= "hawas"></div> </a> 
      <div class="middle">
            <div class="text">Hawas Adel</div>
          </div>
            </div>
  </div>
  </div>


  <div id="footer">
  <footer class="footer-distributed">
        
                    <div class="footer-left">
        
                        <h3>Recuiter System</h3>
        
                        <p class="footer-links">
                            <a href="#">Home</a>
                            ·
                            <a href="#">Blog</a>
                            ·
                            <a href="#">Pricing</a>
                            ·
                            <a href="#">About</a>
                            ·
                            <a href="#">Faq</a>
                            ·
                            <a href="#">Contact</a>
                        </p>
        
                        <p class="footer-company-name">Recuiter System; 2015</p>
                    </div>
        
                    <div class="footer-center">
        
                        <div>
                            <i class="fa fa-map-marker"></i>
                            <p><span>Fayoum</span> Egypt</p>
                        </div>
        
                        <div>
                            <i class="fa fa-phone"></i>
                            <p>01019808890</p>
                        </div>
        
                
        
                    </div>
        
                    <div class="footer-right">
        
                        <p class="footer-company-about">
                            <span>About the Project</span>
                            HR System to make interview instead of human.
                        </p>
        
                        <!-- <div class="footer-icons">
        
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
        
                        </div> -->
        
                    </div>
        
                </footer>
  </div>
</body>
</html>  